@import "tailwindcss";
:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-primary-color: #2b2b32;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  background: var(--bg-primary-color);
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}
.boardRef{
 /* border:black solid 1px; */
 margin-top: 10px;
 justify-content: center;
 align-items: center;
}
 
.block {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(145, 143, 143);
}
.snake{
  background-color: red;
  border: 1px solid rgb(145, 143, 143);
}
.flexing{
  display:flex
}